<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    </head>
    <body style="background-color: #f5f5f5; font-family: 'Inter', sans-serif; font-size: 16px; line-height: 1.5;">
        <table style="padding: 1rem;">
            <tr>
                <td>
                    <h1 style="font-weight: 400">{{{title}}}</h1>
                </td>
            </tr>
            <tr>
                <td>{{{content}}}</td>
            </tr>

            <tr>
                <td style="display: block; margin-top: 1rem;">
                    <p>
                        Best regards,<br />
                        Team opsway
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>