<p>Hi {{name}},</p>
<p>Somebody (hopefully you) has requested a password reset on your opsway account.</p>
<p>If this was not you, you can safely ignore this email.</p>
<p>To reset your password, please click the button below.</p>
<p>
    <a
        href="{{password_reset_link}}"
        style="
            background-color: #232837;
            border-radius: 4px;
            color: #fff;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            padding: 12px 16px;
            text-align: center;
            text-decoration: none;
            vertical-align: middle;
            white-space: nowrap;
            margin-top: 1rem;
        "
    >
        Reset password
    </a>
</p>